* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

#interface {
    position: relative;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.healthBar {
    width: 45%;
    height: 50px;
    border: 3px solid white;
    border-radius: 100% 0% 70% 30% / 0% 100% 0% 100%;
    overflow: hidden;
}

.healthBar:last-child {
    transform: rotateY(180deg);

}

.health {
    width: 100%;
    height: 100%;
    transition: all ease-in 0.3s;
    background-color: red;
}

#timer {
    width: 10%;
    height: 80px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

#info{
    width: 500px;
    height: 80px;
    border: 1px solid white;
    position: absolute;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    opacity: 0;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    transition: all ease 0.6s;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}